<table class="table table-condensed">
    <tbody>
        <tr>
            <td>Name:</td>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <td>Login:</td>
            <td><%= @user.login%></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><%= @user.email%></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><%= @user.password%></td>
        </tr>
        <tr>
            <td>Info:</td>
            <td><%= @user.info%></td>
        </tr>
    </tbody>
</table>
